@include at-breakpoint($media-layout_8)
{
	font-size:0.96em;
	
	#header
	{
		 @include span-columns(8 omega,8);
    	
		#header-content
        {
            height:270px;
            //@include img-bgd-mode('../images/visuelHome.jpg');
            
            #options-btn
            {
                display:flex;
                width:530px;;
                //margin-top:50px;
                a {
                    width:250px;
                }
                a:nth-child(1) {
                    //@include span-columns(2,4);
                    margin-right:20px;
                }
                a:nth-child(2) {
                    //@include span-columns(2 omega,4);
                }
            }
            #introduce
            {
                margin-top:50px;
                
                p {
                    font-size:1.5em;
                }
                h1{
                    font-size:2.5em;
                    font-weight:bold;
                }
                h2 {
                    font-size:1.8em;
                }
            }
        }
		#banner
		{
			
			#content {
			
			    #logo
                {
                    display:block;
                    margin-left:60px;
                    
                    &:hover {
                        text-decoration:none;    
                    }
                }
			    #icone-menu
                {
                    display:none;
                }
                #navigations
                {
                    @include span-columns(7 omega,8);
                    width:290px;
                    position:relative;
                    //background:rgba(255, 255, 255, 0);
                    //display:block;
                    height:43px;
                    margin-top:0px;
                    float:right;
                    nav
                    {
                        margin-top:0px;
                        padding-top:6px;                
                        ul
                        {
                            display:flex;
                            
                            li
                            {
                                
                                border-bottom:none;
                                height:45px;
                                margin-right:35px;
                                font-size:0.95em;
                                padding-left: 0px;
                                padding-top:0px;
                                
                                &:nth-last-of-type(1)
                                {
                                     margin-right:0px;
                                }
                                &:hover,&:active,&:focus
                                {
                                    //border-bottom:3px solid $base-m;
                                }   
                                a
                                {
                                    //color:#baaeae;
                                    display:block;
                                    height:36px;
                                    padding-top:10px;
                                    
                                    &:hover
                                    {
                                        color:#fff;
                                        text-decoration: none;
                                    }                       
                                }
                            }
                        }
                    }
                }
			}
		} 						
	}
	#b-body
    {
    	@include span-columns(8 omega,8);
    	
    	#icones-container {
            padding-top:30px;
            padding-bottom:30px;
            
            .b-img {
                width:120px;
                margin-bottom:0px;
                
            }
        }
        section {
            //padding-top:30px;
            //padding-bottom:100px;
            h2 {
                margin-top:15px;
            }
            
        }
        section#knowledge {
            margin-bottom:20px;
        }
        section#contact {
            #coordinates {
                h3 {
                    text-align:left;
                }
            }
        }
        section#events {
            .section-content {
                display:flex;
                flex-wrap:wrap;
                justify-content:space-between;
                //padding-top:30px;
            }           
        }
        section#details {
            //margin-top:10px;
            #return {
                margin-top:30px;
                width:200px;
            }
            #thumbnails-container {
                figure {
                    width:112px;
                }
            }
            h3 {
                margin-bottom:20px;
                margin-top:30px;
            }
            #opts-container {
                display:flex;
                width:450px;
                //margin:auto;
                margin-top:20px;
                
                a {
                    width:200px;
                    &:nth-child(1) {
                        margin-right:20px;
                    }
                }
            }
        }
        section#portfolio {
            #project-container {
                display:flex;
                flex-wrap:wrap;
                justify-content:space-between;
                figure {
                    width:200px;
                    border:none;
                    figcaption {
                        font-size:0.85em;
                    }
                }
            }
        }
        section#contact {
            form {
                span.error {
                    text-align:left;
                    padding-left:8px;
                }
            }
        }
	}
	footer
    {
    	@include span-columns(8 omega,8);
	}
}