<section id="events">
    <div class="section-content">
        <div class="event">
            <h2>Maître Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
        <div class="event">
            <h2>Maitre Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
        <div class="event">
            <h2>Maitre Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
        <div class="event">
            <h2>Maitre Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
        <div class="event">
            <h2>Maitre Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
        <div class="event">
            <h2>Maitre Gims</h2>
            <h4>Zénith - <span class="location">Caen</span></h4>
            <a href="#">+Plus d'infos</a>
            <a href="#">Site officiel</a>
            <figure>
                <img alt="maitre_gims" src="images/maitre_gims.png">
            </figure>
        </div>
    </div>
</section>
